html {
    scroll-behavior: smooth;
}

/* Imports */
@font-face {
    font-family: 'Lufga';
    src: url("../assets/Lufga.otf");
}
@font-face {
    font-family: 'Lufga-Medium';
    src: url("../assets/Lufga-Medium.otf");
}
@font-face {
    font-family: 'Lufga-SemiBold';
    src: url("../assets/Lufga-SemiBold.otf");
}
@font-face {
    font-family: 'Lufga-Bold';
    src: url("../assets/Lufga-Bold.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Variables */
:root {
    /* Colors */
    --primary: #002D7A;
    --light_primary: #E5EFFF;
    --secondary: #8BCD00;
    --light_secondary: #F2FFD7;
    --black: #333;
    --white: #FFF;
    --grey: #DEDEDE;
    /* Fonts */
    --primary_font: 'Lufga';
    --primary_font-medium: 'Lufga-Medium';
    --primary_font-semiBold: 'Lufga-SemiBold';
    --primary_font-bold: 'Lufga-Bold';
    --secondary_font: 'Raleway';
  }

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Boilerplate */
.container {
    width: 91.67%;
}

.responsive__img {
    width: 100%;
    height: auto;
}

.colored__span {
    color: var(--secondary);
}

/* Navigation */
.nav {
    width: 100vw;
    height: 4.375rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    z-index: 999;
}

.nav__mobile {
    width: 100vw;
    height: 4.375rem;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    z-index: 999;
}

.nav__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.88rem 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.menu__item {
    color: var(--white);
    font-size: 0.8125em;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
    text-transform: uppercase; 
}

.menu__btn {
    width: 9.625rem;
    height: 3.125rem;
    flex-shrink: 0;

    border-radius: 3px;
    background: var(--secondary);
}

.menu__contact {
    width: 11.625rem;
    height: 3.125rem;
    background-color: #E5EFFF33;
    border-radius: 3px;
}

.menu__contact__number {
    color: var(--white);
    text-align: center;
    font-size: 1.25rem;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.menu__contact__text {
    color: var(--white);
    text-align: center;
    font-size: 0.6875rem;
    font-family: var(--primary_font-medium), Arial, Helvetica, sans-serif;
}

.menu__btn:active, .menu__contact:active {
    filter: brightness(90%);
}

.menu__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.line {
    fill: none;
    stroke: var(--white);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 5;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 5;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 5;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 5;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 5;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 5;
  }

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hero */
.hero {
    position: relative;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.hero__div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero__top {
    position: relative;
}

.hero__top__h1 {
    position: relative;
    color: var(--white);
    font-size: 5.3125rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    line-height: 6.09375rem;
    text-align: center;
}

.hero__top__h1__mobile {
    position: relative;
    display: none;
    color: var(--white);
    font-size: 5.3125rem;
    font-family: var(--primary_font), Arial, Helvetica, sans-serif;
    line-height: 6.09375rem;
    text-align: center;
}

.hero__bottom {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.hero__btn {
    width: 12rem;
    height: 3.4375rem;
    flex-shrink: 0;

    color: var(--white);
    font-size: 1rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    border-radius: 3px;
    background: var(--secondary);
}

.hero__btn:active {
    filter: brightness(90%);
}

/* Services */
.services {
    padding-top: 5rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__div__p {
    width: 9.375rem;
    height: 2.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light_secondary);
}

.services__p {
    color: var(--secondary);
    text-align: center;
    font-size: 1.125rem;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 3.875rem;
    letter-spacing: 0.1575rem;
}

.services__div__h2 {
    margin-top: 1.5rem;
}

.services__h2 {
    color:  var(--black);
    text-align: center;
    font-size: 3.4375rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    line-height: 3.875rem;
}

.services__h2__mobile {
    display: none;
    color:  var(--black);
    text-align: center;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 2.3125rem;
}

.services__div__types {
    margin-top: 2.5rem;
    width: 100%;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2.5rem 0rem;
}

.services__div__type {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
}

.services__type {
    width: 9.375rem;
    height: 9.375rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 150px;
    background: var(--light_primary);
}

.services__type__p {
    color: var(--black);
    text-align: center;
    font-size: 1.375rem;
    font-family: var(--secondary_font);
    font-weight: 700;
    line-height: 2.0625rem;
    text-transform: capitalize;
}

/* Contact */
.contact {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary);
}

.contact__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__left {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.contact__left__div__p {
    width: 11.875rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    background-color: var(--light_primary);
}

.contact__left__p {
    color: var(--primary);
    font-size: 1.125rem;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
}

.contact__left__h2 {
    color: var(--white);
    font-size: 3.4375rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    line-height: 3.875rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 2.5rem;
}

.contact__form__top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2.2rem;
}

.contact__form__top__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.contact__form__top__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}

.contact__form__fileUpload {
    width: 7.5625rem;
    height: 2.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    border: 1px solid var(--white);

    color: var(--white);
    font-size: 0.9375rem;
    font-family: var(--primary_font-medium), Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.form__input {
    padding: 0 1rem;
    width: 16.375rem;
    height: 3.125rem;

    color: var(--black);
    font-size: 0.875rem;
    font-family: var(--primary_font), Arial, Helvetica, sans-serif;
    line-height: 1.6875rem;

    border: none;
    border-radius: 3px;
    background: var(--light_primary);
}

.form__input__message {
    padding: 0 1rem;
    padding-top: 0.5rem;
    width: 20.9375rem;
    height: 7.1875rem;

    color: var(--black);
    font-size: 0.875rem;
    font-family: var(--primary_font), Arial, Helvetica, sans-serif;
    line-height: 1.6875rem;

    border: none;
    border-radius: 3px;
    background: var(--light_primary);
}

.form__input--focus:focus {
    outline: none;
}

.file__input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

#file {
    color: var(--white);
    font-size: 0.875rem;
    font-family: var(--primary_font), Arial, Helvetica, sans-serif;
    line-height: 1.6875rem;
}

#file-input {
    display: none;
}

.contact__form__btn {
    width: 11.4375rem;
    height: 3.125rem;
    border-radius: 3px;
    background: var(--secondary);

    color: var(--white);
    font-size: 0.9375rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.contact__form__btn:active {
    filter: brightness(90%);
}

.tooltip {
    position: relative;
    display: block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: var(--secondary);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    bottom: 100%;
    left: 50%;
    margin-left: -120px;
   
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* Gallery */
.gallery {
    padding-top: 5rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__div__p {
    width: 9.375rem;
    height: 2.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light_secondary);
}

.gallery__p {
    color: var(--secondary);
    text-align: center;
    font-size: 1.125rem;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
    line-height: 3.875rem;
    letter-spacing: 0.1575rem;
}

.gallery__div__h2 {
    margin-top: 0.8125rem;
}

.gallery__h2 {
    color:  var(--black);
    text-align: center;
    font-size: 3.4375rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 3.875rem;
}

.gallery__items {
    margin-top: 3.125rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--primary);
}

.footer__div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contact__header {
    padding-top: 4.875rem;
}

.footer__left__div__p {
    width: 11.875rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    background-color: var(--light_primary);
}

.footer__left__p {
    color: var(--primary);
    font-size: 1.125rem;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
}

.footer__left__h2 {
    padding-top: 2.1875rem;
    color: var(--white);
    font-size: 3.4375rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    line-height: 3.875rem;
}

.footer__contact__info {
    margin-top: 11rem;
    margin-right: 11.375rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.25rem;
}

.info__p {
    color: var(--white);
    font-size: 1.25rem;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
    line-height: 2.5rem;
}

.info__p__green {
    color: var(--secondary);
    font-size: 1.875rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    line-height: 2.5rem;
}

.footer__logo {
    width: 100%;
    margin-top: 5.8125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo__p {
    color: var(--grey);
    text-align: right;
    font-size: 0.875rem;
    font-family: var(--primary_font), Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

.footer__copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright__p {
    padding: 1.4375rem 0;
    color: var(--grey);
    text-align: center;
    font-size: 0.875rem;
    font-family: var(--primary_font), Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

/* RESPONSIVE MOBILE -------------------------------------------------------- */
 /* XX-Large devices (large desktops, less than 1600px) */
@media (max-width: 1599.98px) { 
    .container {
        width: 74%;
    }
    
    }
 /* X-Large devices (large desktops, less than 1400px) */
 @media (max-width: 1399.98px) { 
    .services__div__types {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contact {
        height: auto;
    }
    .contact__form {
        margin: 2rem 0;
    }
    .contact__form__top {
        flex-direction: column;
        gap: 1rem;
    }
    .form__input__message {
        width: 16.375rem;
    }
    .contact__form__btn {
        width: 18.375rem;
        height: 3.125rem; 

        font-size: 0.9375rem;
    }
    .footer__contact__info {
        margin-right: 5.375rem;
    }
    
    }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .footer__left__div__p {
        width: 8.9375rem;
        height: 1.6875rem; 
    }
    
    .footer__left__p {
        font-size: 0.875rem;
        line-height: 1.125rem;
        letter-spacing: 0.1225rem; 
    }
    
    .footer__left__h2 {
        padding-top: 0.63rem;
        font-size: 2rem;
        line-height: 2.3125rem; 
    }
    .info__p {
        font-size: 1.125em;
        line-height: 2rem;
    }
    
    .info__p__green {
        font-size: 1.375em;
        line-height: 2rem;
    }
    }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .nav {
        display: none;
    }
    .nav__mobile {
        display: flex;
    }
    .hero__top__h1 {
        display: none;
    }
    .hero__top__h1__mobile {
        display: block;
        font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .hero__btn {
        width: 11rem;
        height: 3.1rem;
    
        font-size: 0.935rem;
    }
    .footer__contact__info {
        margin-right: 2.375rem;
    }
 }

 /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .services__div__types {
        grid-template-columns: 1fr 1fr;
    }
    .contact__div {
        padding-top: 3rem;
        padding-bottom: 3.5rem;
    }
    .contact__div {
        flex-direction: column;
    }
    .contact__left {
        align-items: center;
        gap: 0.62rem;
    }
    .contact__left__div__p {
        width: 9.3125rem;
        height: 1.6875rem; 
    }
    
    .contact__left__p {
        font-size: 0.875rem;
    }
    
    .contact__left__h2 {
        font-size: 2rem;
        line-height: 2.3125rem; 
    }
    .footer__contact {
        flex-direction: column;
        align-items: start;
    }
    .footer__contact__info {
        margin-top: 2.5rem;
        margin-right: 0;
    }
    .footer__logo {
        margin-top: 1.87rem;
        justify-content: start;
    }
    .footer__logo__p {
        text-align: left;
    }
    .footer__logo__img {
        display: none;
    }
    .footer__copyright {
        justify-content: start;
    }
    .footer__copyright__p {
        text-align: left;
    }

}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hero {
        height: 55vh;
    }
    .hero::before {
        height: 50vh;
    }
    .hero__top__h1__mobile {
        font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        line-height: 2.8125rem;
    }
    .hero__btn {
        width: 10.1875rem;
        height: 2.8125rem;
    
        font-size: 0.875rem;
    }

    .services {
        padding-top: 2.5rem;
        padding-bottom: 4rem;
    }

    .services__div__p {
        width: 7.4375rem;
        height: 1.6875rem; 
    }
    
    .services__p {
        font-size: 0.875rem;
        line-height: 1.125rem;
        letter-spacing: 0.1225rem; 
    }
    
    .services__div__h2 {
        margin-top: 0.62rem;
    }
    
    .services__h2 {
        display: none;
    }
    .services__h2__mobile {
        display: block;
    }

    .services__type__p {
        font-size: 1.25rem;
        line-height: 1.375rem;
    }

    .gallery {
        padding: 2.5rem 0;
    }

    .gallery__div__p {
        width: 7.4375rem;
        height: 1.6875rem; 
    }
    
    .gallery__p {
        font-size: 0.875rem;
        line-height: 1.125rem;
        letter-spacing: 0.1225rem; 
    }
    
    .gallery__div__h2 {
        margin-top: 0.62rem;
    }

    .gallery__h2 {
        font-size: 2rem;
        line-height: 2.3125rem;
    }

    .gallery__items {
        margin-top: 2.5rem;
    }
}

/* XX-Small devices (portrait phones, less than 377px) */
@media (max-width: 376.98px) { 
    .services__div__types {
        grid-template-columns: 1fr;
    }
}