html {
    scroll-behavior: smooth;
}

/* Imports */
@font-face {
    font-family: 'Lufga';
    src: url("../assets/Lufga.otf");
}
@font-face {
    font-family: 'Lufga-Medium';
    src: url("../assets/Lufga-Medium.otf");
}
@font-face {
    font-family: 'Lufga-SemiBold';
    src: url("../assets/Lufga-SemiBold.otf");
}
@font-face {
    font-family: 'Lufga-Bold';
    src: url("../assets/Lufga-Bold.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Variables */
:root {
    /* Colors */
    --primary: #002D7A;
    --light_primary: #E5EFFF;
    --secondary: #8BCD00;
    --light_secondary: #F2FFD7;
    --black: #333;
    --white: #FFF;
    /* Fonts */
    --primary_font: 'Lufga';
    --primary_font-medium: 'Lufga-Medium';
    --primary_font-semiBold: 'Lufga-SemiBold';
    --primary_font-bold: 'Lufga-Bold';
    --secondary_font: 'Raleway';
  }

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Boilerplate */
.container {
    width: 91.67%;
}

.responsive__img {
    width: 100%;
    height: auto;
}

.colored__span {
    color: var(--secondary);
}

/* Navigation */
.nav {
    width: 100%;
    height: 4.375rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    z-index: 999;
}

.nav__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.88rem 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.menu__item {
    color: var(--white);
    font-size: 0.8125em;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
    text-transform: uppercase; 
}

.menu__btn {
    width: 9.625rem;
    height: 3.125rem;
    flex-shrink: 0;

    border-radius: 3px;
    background: var(--secondary);
}

.menu__contact {
    width: 11.625rem;
    height: 3.125rem;
    background-color: #E5EFFF33;
    border-radius: 3px;
}

.menu__contact__number {
    color: var(--white);
    text-align: center;
    font-size: 1.25rem;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.menu__contact__text {
    color: var(--white);
    text-align: center;
    font-size: 0.6875rem;
    font-family: var(--primary_font-medium), Arial, Helvetica, sans-serif;
}

.menu__btn:active, .menu__contact:active {
    filter: brightness(90%);
}

.menu__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hero */
.hero {
    position: relative;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.hero__div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero__top {
    position: relative;
}

.hero__top__h1 {
    position: relative;
    color: var(--white);
    font-size: 5.3125rem;
    font-family: var(--primary_font), Arial, Helvetica, sans-serif;
    line-height: 6.09375rem;
    text-align: center;
}

.hero__bottom {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.hero__btn {
    width: 12rem;
    height: 3.4375rem;
    flex-shrink: 0;

    color: var(--white);
    font-size: 1rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    border-radius: 3px;
    background: var(--secondary);
}

.hero__btn:active {
    filter: brightness(90%);
}

/* Services */
.services {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__div__p {
    width: 9.375rem;
    height: 2.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light_secondary);
}

.services__p {
    color: var(--secondary);
    text-align: center;
    font-size: 1.125rem;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 3.875rem;
    letter-spacing: 0.1575rem;
}

.services__div__h2 {
    margin-top: 1.5rem;
}

.services__h2 {
    color:  var(--black);
    text-align: center;
    font-size: 3.4375rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    line-height: 3.875rem;
}

.services__div__types {
    margin-top: 3.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.services__div__type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.services__type {
    width: 9.375rem;
    height: 9.375rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 150px;
    background: var(--light_primary);
}

.services__type__p {
    color: var(--black);
    text-align: center;
    font-size: 1.375rem;
    font-family: var(--secondary_font);
    font-weight: 700;
    line-height: 2.0625rem;
    text-transform: capitalize;
}

/* Contact */
.contact {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary);
}

.contact__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__left {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.contact__left__div__p {
    width: 11.875rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    background-color: var(--light_primary);
}

.contact__left__p {
    color: var(--primary);
    font-size: 1.125rem;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
}

.contact__left__h2 {
    color: var(--white);
    font-size: 3.4375rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    line-height: 3.875rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 2.5rem;
}

.contact__form__top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2.2rem;
}

.contact__form__top__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.contact__form__top__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}

.contact__form__fileUpload {
    width: 7.5625rem;
    height: 2.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    border: 1px solid var(--white);

    color: var(--white);
    font-size: 0.9375rem;
    font-family: var(--primary_font-medium), Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.form__input {
    padding: 0 1rem;
    width: 18.375rem;
    height: 3.125rem;

    color: var(--black);
    font-size: 0.875rem;
    font-family: var(--primary_font), Arial, Helvetica, sans-serif;
    line-height: 1.6875rem;

    border: none;
    border-radius: 3px;
    background: var(--light_primary);
}

.form__input__message {
    padding: 0 1rem;
    padding-top: 0.5rem;
    width: 22.9375rem;
    height: 7.1875rem;

    color: var(--black);
    font-size: 0.875rem;
    font-family: var(--primary_font), Arial, Helvetica, sans-serif;
    line-height: 1.6875rem;

    border: none;
    border-radius: 3px;
    background: var(--light_primary);
}

.form__input--focus:focus {
    outline: none;
}

.file__input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

#file {
    color: var(--white);
    font-size: 0.875rem;
    font-family: var(--primary_font), Arial, Helvetica, sans-serif;
    line-height: 1.6875rem;
}

#file-input {
    display: none;
}

.contact__form__btn {
    width: 11.4375rem;
    height: 3.125rem;
    border-radius: 3px;
    background: var(--secondary);

    color: var(--white);
    font-size: 0.9375rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.contact__form__btn:active {
    filter: brightness(90%);
}

/* Gallery */
.gallery {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__div__p {
    width: 9.375rem;
    height: 2.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light_secondary);
}

.gallery__p {
    color: var(--secondary);
    text-align: center;
    font-size: 1.125rem;
    font-family: var(--primary_font-semiBold), Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 3.875rem;
    letter-spacing: 0.1575rem;
}

.gallery__div__h2 {
    margin-top: 1.5rem;
}

.gallery__h2 {
    color:  var(--black);
    text-align: center;
    font-size: 3.4375rem;
    font-family: var(--primary_font-bold), Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 3.875rem;
}

.gallery__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}